.table-planet-details th, .table-planet-details td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table-planet-details th {
    background-color: #ff0000; /* Color rojo para los encabezados */
    color: white;
  }
  
  .table-planet-details td {
    background-color: #f2f2f2; /* Fondo gris claro para las celdas */
  }